<div class="row d-flex justify-content-between">
    <div class="col-sm col-lg-5 pr-3">
        {{{prismicRichText data.prismic.page_body_text}}}
    </div>
    <div class="col-sm col-lg-6">  
        <img src="{{prismicImageHandler data.prismic.page_body_image.url}}">
    </div>
</div>