<div class="row justify-content-between py-3">
    <div class="col-sm">
        {{{prismicRichText data.page_body_text}}}
    </div>
    <div class="col-sm">  
        <img src="{{prismicImageHandlerBody data.page_body_image.url}}">
    </div>
</div>