<div class="row">
    <div class="col-sm col-lg-7 mb-4 pr-0">
        <h1>{{ data.prismic.page_title1.[0].text }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm col-lg-8">
        <h2>{{ data.prismic.page_sub_title.[0].text }}</h2>
    </div>
</div>




