@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:300|Montserrat:600&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Merriweather', serif;
*/

body {
    color: #565656;
    font-family: 'Merriweather', serif;
}