@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Merriweather+Sans|Montserrat&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Bebas Neue', cursive;
*/